body {
    font-family: Roboto, sans-serif;
    line-height: 1.4em;
    font-size: 14px;
    background-color: #D8CDBC
}

a:hover {
    text-decoration: underline
}

.main__header {
    display: flex;
    justify-content: center;
    background-color: #F0F2F3
}

.main__header-center {
    display: inline-block;
    text-align: center
}

.main__title {
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 5px;
    font-weight: 700;
    display: inline-block;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #E3E1E3;
    border-radius: 10px;
    margin-bottom: 2px;
    margin-top: 2px
}

.main__footer {
    display: flex;
    border: 1px solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 1140px !important;
    /* fixed get with from viewport not parent*/
    background-color: #CDC5C2;
    color: #000 !important;
    max-width: inherit
}
.main__footer a{
    color: #000 !important;
}
.main__nav {
    height: 50px
}

.main__container {
    position: relative
}

.main__box {
    color: #fff;
    margin-bottom: 70px;
    padding: 10apx 0;
    background-color: #91877F;
    margin-top: 20px
}

.main__box a {
    color: #fff;
}

.main__footer-avatar {
    border: 1px solid;
    border-bottom: 0
}

.header__desk {
    font-size: 20px;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 5px;
    display: inline-block;
    background-color: #CDC5C2;
    border-radius: 10px;
    margin-bottom: 2px
}

.projects {
    padding: 10px 0
}

.flex-row {
    display: flex;
    justify-content: space-around;
}

.project {
    text-align: center;
    margin: 10px;
    display: inline-block;
    padding: 5px;
    min-height: 240px;
    border: 1px solid;
    max-width: 345px
}

.project__header {
    display: flex;
    padding: 10px 5px;
    padding-bottom: 5px
}

.project__desc {
    width: 100%
}

.project__name {
    font-weight: 700;
    font-size: 25px;
    width: 100%
}

.project__technolodgi-set {
    font-size: 20px;
    margin: 5px 0;
    width: 100%
}

.project__technolodgi-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.project__technolodgi {
    margin-left: 1px;
    margin-right: 1px
}

.project__price {
    font-weight: 700
}

.project__shorttext {
    padding: 2px
}

.my__avatar-svg {
    width: 50px;
    height: 50px;
    transition: transform 0.8s ease-in-out
}

.my__avatar-svg:hover {
    transform: rotate(360deg)
}

.nav {
    width: 100%;
    height: 20px;
    margin-top: 37px;
    border-top: 1px solid
}

.nav__list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    display: flex;
    height: 100%
}

.nav__item {
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
    border-right: 1px solid
}

.nav__link {
    display: inline-block;
    width: 100%;
    height: 20px
}

.nav__link:hover {
    text-decoration: underline
}

.about-me {
    text-align: center
}

.about-me__part {
    max-width: 450px;
    margin: 0 auto
}

.about-me__part li {
    margin: 10px 0
}

.about-me__sub-title {
    font-size: 25px;
    font-weight: 700;
    padding-top: 20px
}

.about-me__text {
    max-width: 500px;
    word-wrap: wrap;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 20px
}

li {
    list-style-type: none
}

.pb10 {
    padding-bottom: 10px
}

.project-item {
    padding: 15px 0;
    word-break: break-all;
    text-align: center
}

.project-item a {
    color: red;
}

.project__code {
    font-size: 11px;
    word-break: break-all;
    background-color: grey;
    padding: 5px;
    opacity: .7;
}

.project-row {
    font-size: 25px;
    padding: 5px 0
}

.project__input-data {
    margin-left: 6px;
    display: flex
}

.project__input-data-item {
    margin-right: 5px;
    position: relative;
    margin-right: 10px
}

.project__input-data-item:before {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    background-color: #000;
    position: absolute;
    right: -3px;
    top: 0
}

.project__input-data-item:last-child:before {
    display: none
}

.project__text-desc-work {
    max-width: 730px;

    margin: 10px auto
}

.red {
    color: red
}

.flex {
    display: flex
}

.flex-center {
    justify-content: center
}

.maxsize450 {
    max-width: 450px
}

.mcenter {
    margin: 0 auto
}

.mt20 {
    margin-top: 20px
}

.prices {
    height: 100vh;
    text-align: center
}

.prices__title {
    font-size: 20px;
    padding-top: 20px
}

.prices__subtitle {
    font-size: 7px
}


/* Основные стили */

/* Слайдер */
.slick-slider {
    min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track {
    display: flex;
    align-items: flex-start;
}

/* Слайд */
.slick-slide {}

/* Слайд активный */
.slick-slide.slick-active {}

/* Слайд основной */
.slick-slide.slick-current {}

/* Слайд по центру */
.slick-slide.slick-center {}

.slider {
    position: relative;
    padding: 25px 0;
}

.slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -50px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 60px;
}

.slider .slick-arrow.slick-prev {
    border: 0;
    left: 4px;
    background: url('/static/img/icons/sl-arrow_l.svg') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
    border: 0;
    right: 4px;
    background: url('/static/img/icons/sl-arrow_r.svg') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-disabled {
    opacity: 0.2;
}

.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .slick-dots li {
    list-style: none;
    margin: 0px 10px;
}

.slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid #fff;
}

.slider__item {
    padding: 0px 15px;
}

.slider__item img {
    max-width: 100%;
}

.slider__item.slick-center {}

.admin-create {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.admin-create__input {}

.admin-create__text {}

.admin-create__desc {}

.admin__error {
    height: 50px;
    background-color: red;
    max-width: 450px;
    margin: 10px auto;
    text-align: center;
    line-height: 50px;
}


.contacts-list {
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
}

.contacts-item a:hover {
    color: red;
}